@import url("./assets/css/clash-display.css");

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'ClashDisplay', sans-serif;
    background-color: #131314;
    color: #fdfdfd;
}

#root {
    overflow: hidden;
    /* border: 2px solid white; */
}

.name::before {
    content: "I'm";
    font-family: 'Beauty';
    color: rgb(227, 147, 36);
    position: absolute;
    top: -.4em;
    left: -.5em;
    font-weight: lighter;

}

@media (max-width: 768px) {
    .name::before {
        left: -.2em;
    }
}

.hero-btn {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background: linear-gradient(0deg, #333, #555) padding-box,
        linear-gradient(130deg, #2a2a2a, #ccc, #2b2b2b) border-box;
    border-radius: 50em;
    border: 2px solid transparent;
}

.hero-btn::after {
    font-size: 1.5em;
    position: absolute;
}

.hero-btn:first-child::after {
    content: '💼';
    top: -20px;
    right: -20px;
    transform: rotateZ(-30deg);
}

.hero-btn:last-child::after {
    content: '🎤';
    bottom: -20px;
    right: -20px;
}

.slide {
    width: 110vw;
}

.slide div span {
    height: 100%;
}

.slide:first-child span::after {
    content: '✦';
    margin-inline: 8px;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.slide div {
    animation: 45s slide infinite linear;
}